.Section {
  padding: 100px 0;
  overflow: hidden;
}
.Section-wrapper {
  width: 1000px;
  margin: 0 auto;
}
.Section-title {
  font-size: 20px;
  margin-bottom: 40px;
  color: #888;
}
.Section-text {
  font-size: 15px;
  line-height: 1.7;
  letter-spacing: 0.1em;
  color: #888;
}
.Section-gray {
  background: #eee;
}
.Section-white {
  background: #FFF;
}

@media only screen and (max-width: 768px) {
  .Section {
    padding: 50px 15px;
  }
  .Section-wrapper {
    width: 100%;
  }
  .Section-title {
    font-size: 20px;
  }
  .Section-text {
    font-size: 14px;
  }
}
