.SiteHeader {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  z-index: 9999;
  width: 100%;
  transition: 1s ease-in-out;
}
.SiteHeader-inner {
  margin: 0 auto;
  width: 1000px;
  position: relative;
}
.SiteHeader-logo {
  padding-left: 10px;
}
.SiteHeader-logokuroshiba {
  display: inline-block;
}
.SiteHeader-bg {
  background: rgba(170, 170, 170, 0.9);
  transition: 1s ease-in-out;
}
.SiteHeader h1 {
  font-size: 18px;
  padding-left: 8px;
  overflow: hidden;
  line-height: 30px;
  letter-spacing: 0.2em;
  display: inline-block;
}

.SiteHeader a {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .SiteHeader, .SiteHeader-inner {
    width: 100%;
  }

  .SiteHeader {
    margin-top: 0;
  }
  .SiteHeader-inner {
    width: 100%;
  }
  .SiteHeader-logo {
    padding-left: 16px;
  }
}
