.SiteNavi ul {
  list-style: none;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 15px;
  letter-spacing: .3em;
  line-height: 30px;
}
.SiteNavi ul li {
  float: left;
  position: relative;
}
.SiteNavi ul li a {
  padding: 0 30px;
}
.SiteNavi ul li:hover {
  text-shadow: 0 0 3px #FFF, 0 0 5px #FFF;
}
.SiteNavi-toggle {
  display: none;
  position: absolute;
  top: 6px;
  right: 16px;
  width: 18px;
  height: 14px;
  cursor: pointer;
  z-index: 101;
}
.SiteNavi-toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #FFF;
  left: 0;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}
.SiteNavi-toggle span:nth-child(1) {
  top: 0;
}
.SiteNavi-toggle span:nth-child(2) {
  top: 6px;
}
.SiteNavi-toggle span:nth-child(3) {
  bottom: 0;
}

@media only screen and (max-width: 768px) {
  .SiteNavi {
    position: fixed;
    transform: translateX(-800px);
    transition-duration: 5.0s;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .SiteNavi ul {
    list-style: none;
    position: static;
    right: 0;
    bottom: 0;
    transition-duration: 2.0s;
    opacity: 0;
  }
  .SiteNavi ul li {
    float: none;
    position: static;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 16px 16px;
  }
  .SiteNavi ul li a {
    padding: 0;
  }
  .SiteNavi ul li:after {
    display: none;
  }
  .SiteNavi-toggle {
    display: block;
  }
  .SiteNavi-open .SiteNavi {
    -webkit-overflow-scrolling: touch;
    transform: translateX(0);
    opacity: 1;
    transition-duration: 0.5s;
    z-index: 10;
  }
  .SiteNavi-open span:nth-child(1) {
    top: 6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .SiteNavi-open span:nth-child(2) {
    opacity: 0;
  }
  .SiteNavi-open span:nth-child(3) {
    bottom: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .SiteNavi-open ul {
    opacity: 1;
    transition-duration: 4.0s;
  }
  .SiteNavi-inner {
    float: left;
    width: 70%;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
  }
  .SiteNavi-shadow {
    float: right;
    width: 30%;
    background: transparent;
    height: 100%;
  }
}
